.tubepicture{
    width: 60%;
    height: auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-45%);
}
.sub-title{
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    top: 6%;
    left: 72%;
    color: white;
}
.line1{
    position: absolute;
    width: 35%;
    height: 5px;
    background-color: #eff1ab;
    top: 36%;
    left: 15.9%;
    z-index: 120;
    border-radius: 2px;
    transform: rotate(30deg);
}
.line2{
    position: absolute;
    width: 30%;
    height: 5px;
    background-color: #9fb470;
    top: 55%;
    left: 18.3%;
    z-index: 120;
    border-radius: 2px;
    transform: rotate(0deg);
}
.line3{
    position: absolute;
    width: 33.3%;
    height: 5px;
    background-color: #7fba98;
    top: 72%;
    left: 17.2%;
    z-index: 120;
    border-radius: 2px;
    transform: rotate(-20deg);
}
.line4{
    position: absolute;
    width: 12%;
    height: 5px;
    background-color: #55c0bf;
    top: 37%;
    left: 45%;
    z-index: 120;
    border-radius: 2px;
    transform: rotate(65deg);
}
.line5{
    position: absolute;
    width: 26.6%;
    height: 5px;
    background-color: #4588b2;
    top: 35.5%;
    left: 57%;
    z-index: 120;
    border-radius: 2px;
    transform: rotate(-22deg);
}
.line6{
    position: absolute;
    width: 23%;
    height: 5px;
    background-color: #afafaf;
    top: 49%;
    left: 60%;
    z-index: 120;
    border-radius: 2px;
    transform: rotate(10deg);
}
.line7{
    position: absolute;
    width: 20%;
    height: 5px;
    background-color: #6b1415;
    top: 70%;
    left: 65.2%;
    z-index: 120;
    border-radius: 2px;
    transform: rotate(38deg);
}
.line8{
    position: absolute;
    width: 150px;
    height: 5px;
    background-color: #6b1415;
    top: 69%;
    left: 60%;
    z-index: 120;
    border-radius: 2px;
    transform: rotate(40deg);
}
.MediumTemperature {
    position: absolute;
    width: 140px;
    height: 70px;
    top: 75%;
    left: 65%;
    background-color: rgba(25, 41, 79, 0.4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid #20407b ;
}
.medium-temperature {
    color: #f36d50;
    font-weight: bold;
}


/* 图例样式 */
.legend-container {
    position: absolute;
    background-color: rgba(255, 255, 255, 1); /* 半透明背景 */
    box-shadow: 0 0.3rem 0.6rem 0.9rem rgba(210, 210, 210, 0.3); /* 添加阴影效果 */
    border-radius: 5px; /* 圆角 */
    padding: 1em; /* 使用 em 单位 */
    width: 25%; /* 使用百分比宽度 */
    max-width: 25%; /* 最大宽度 */
    margin-left: 74%;
    height: 75%;
    margin-top: 8.8%;
}

.legend-title {
    color: #005183;
    font-weight: bold;
    margin-bottom: 0.5em; /* 使用 em 单位 */
    font-size: 1.2rem;
}

.legend-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0em 0; /* 使用 em 单位 */
}

.color-box {
    width: 1.5em; /* 使用 em 单位 */
    height: 1.5em; /* 使用 em 单位 */
    border: 1px solid #ddd;
    margin-right: 0.2em; /* 使用 em 单位 */
}

/* 响应式设计 */
@media (max-width: 768px) {
    .table-container {
        flex-direction: column; /* 小屏幕下变为垂直排列 */
        align-items: center; /* 居中对齐 */
    }

    .legend-container {
        width: 80%; /* 在小屏幕上使用更大的比例 */
        max-width: none; /* 取消最大宽度限制 */
    }

    .temperature-table__content {
        width: 100%; /* 表格宽度调整 */
    }
}
.description {
    margin-top: 10px; /* 与上方数据框的间隔 */
    font-size: 0.8rem; /* 说明文字的字体大小 */
    color: #000000; /* 说明文字颜色 */
    line-height: 1.5rem;
}

